body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #dcebed;
}

.container {
    width: 82%;
    margin: 120px auto;
    background: white;
    padding: 45px 50px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 38px;
    color: #172b4d;
    text-transform: uppercase;
}

.subtitle {
    color: #555;
    font-size: 18px;
    margin-top: 8px;
}

.line {
    border: none;
    border-top: 1px solid #ddd;
    margin: 25px 0;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

button {
    background: #087ff5;
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #066dcc;
}

.card {
    margin-top: 25px;
    padding: 20px;
    border: 1px solid #ddd;
}

input {
    padding: 12px;
    margin: 5px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}